<%= link_to "Golfers", "/golfers" %> <%= link_to "Courses", "/courses" %>

<h1><%= @course.name %></h1>
<%= button_to "Update #{@course.name}", "/courses/#{@course.id}/edit" %>
<p> Golfers:<%= @course.golfers_count %></p>
<%= link_to "Course Golfers", "/courses/#{@course.id}/golfers" %>